body{
    background-color:#DAE5E7 !important;
    color: #48463A;

    
    
    
}
.navbar-brand{
    font-family: 'Fjalla One', sans-serif;
    font-size: 35px !important;
    
}

.nav-texto{
    font-size: 40px !important;
    color: white !important;
}

.nav-derecha{
    float: right;
    margin-left: 75%;
}

.navbar{
    background-color: #48463A !important;
    
}

h1{
    font-family: 'Khand', sans-serif;
    font-weight: 600; 
    
}

.nombre{
    font-family: 'Khand', sans-serif;
    font-weight: 600; 
    
    font-size: 50px;
}

p{
    font-family: 'Khand', sans-serif;
    font-size: 25px;
    
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icono{
    height: 35px;
    width: 35px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.row{
    margin-top: 10%;
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
   
    
}

.linea{
    margin: 0px !important;
}

.texto{
    
    margin-bottom: auto;
    margin-top: auto;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.imagen{
    
    padding-left: 0px !important;
    padding-right: 0px !important;
}